<fd-shellbar [sideNav]="cxSideNav">
  <button
    fd-shellbar-side-nav
    fd-button
    fdType="transparent"
    glyph="menu2"
    [style.width.rem]="2.75"
    (click)="condensed = !condensed"
  ></button>
  <fd-shellbar-title> {{title}} </fd-shellbar-title>
  <fdp-search-field placeholder="Search"></fdp-search-field>
  <fd-shellbar-actions [user]="user" [userMenu]="userMenu">

  </fd-shellbar-actions>
</fd-shellbar>
<div  style="display: flex; height: 100vh;">
  <fdx-side-nav [narrow]="condensed" [inShellbar]="true" [showScrollButtons]="false" #cxSideNav>
    <div fdx-side-nav-main>
      <ul fdx-nested-list >
        @if(this.role === 'ADMIN' && this.userListVisible){
          <li fdx-nested-list-item (click)="navigateToUsers()">
            <a fdx-nested-list-link>
              <i fdx-nested-list-icon glyph="user-settings"></i>
              <span fdx-nested-list-title>users</span>
            </a>
          </li>
        }
        @if (this.productVisible){
          <li fdx-nested-list-item (click)="navigateToProducts()">
            <a fdx-nested-list-link>
              <i fdx-nested-list-icon glyph="home"></i>
              <span fdx-nested-list-title>Products</span>
            </a>
          </li>
        }
        @if(this.productId > -1){
          <li fdx-nested-list-item (click)="navigateToRequests()">
            <a fdx-nested-list-link>
              <i fdx-nested-list-icon glyph="request"></i>
              <span fdx-nested-list-title>Requests</span>
            </a>
          </li>
        }
        @if(this.requestId > -1){
          <li fdx-nested-list-item (click)="navigateToIssues()">
            <a fdx-nested-list-link>
              <i fdx-nested-list-icon glyph="task"></i>
              <span fdx-nested-list-title>Issues</span>
            </a>
          </li>
        }
      </ul>
    </div>
  </fdx-side-nav>
  <div style="flex-grow: 1; padding-left: 1rem;">
    <ng-content></ng-content>
  </div>
</div>
