<fd-dynamic-page [autoResponsive]="false" ariaLabel="Example Dynamic Page">
  <fd-dynamic-page-header  >
    <fd-dynamic-page-title-content class="title-content">
      <textarea
        [value]="TaskData?.name"
        (blur)="onTitleChange($event)"
        fd-form-control
        id="textarea-14"
        fdCompact
        placeholder="Field placeholder text"
        aria-required="true"
        class="transparent-title-textarea title-font"
        spellcheck="false"
      ></textarea>
    </fd-dynamic-page-title-content>
    <fd-dynamic-page-layout-actions>
      <fd-toolbar fdType="transparent" [clearBorder]="true">
          <button
            fd-button
            fdType="transparent"
            aria-label="Close"
            (click)="changeLayout()"
            title="Close"
          >
            <i class="sap-icon--decline"></i>
          </button>
      </fd-toolbar>
    </fd-dynamic-page-layout-actions>
  </fd-dynamic-page-header>
  <fd-dynamic-page-subheader [collapsible]="false" [pinnable]="false" [collapsed]="false">
                            <span>
                                {{TaskData?.type}}
                            </span>
  </fd-dynamic-page-subheader>
  <fd-dynamic-page-content class="title-content">
    <div class="fd-dynamic-page-section-example title-content">
        <textarea
          [value]="TaskData?.description"
          (blur)="onDescriptionChange($event)"
          fd-form-control
          id="textarea-13"
          fdCompact
          placeholder="Field placeholder text"
          aria-required="true"
          class="transparent-textarea title-content"
          spellcheck="false"
        ></textarea>
    </div>
  </fd-dynamic-page-content>

</fd-dynamic-page>
