<fd-card [interactive]="false" role="listitem" style="max-width: 400px">
  <fd-card-header>
    <fd-card-main-header>
      <fd-avatar glyph="{{this.getTypeIcon()}}" size="s" ariaLabel="avatar image" title="{{this.task?.type}}"></fd-avatar>
      <h1 style="font-size: 1.2rem" fd-card-title>{{task?.name}}</h1>
      <span fd-card-counter>{{task?.type}}</span>
    </fd-card-main-header>
    <fd-card-extended-header [align]="'bottom'">
      <div fd-card-header-column>
        <div fd-card-header-row>
          <fd-text text="Created at: {{task?.createdAt}}"></fd-text>
        </div>
        <div fd-card-header-row>
          <fd-text text="Updated at: {{task?.updatedAt}}"></fd-text>
        </div>
      </div>
      <div fd-card-header-column [align]="'right'">
        <span style="font-size: 1.4rem">{{task?.priority}}</span>
        <div fd-card-header-row>
          <span style="font-size: 1.0rem">{{task?.assignee}}</span>
        </div>
      </div>
    </fd-card-extended-header>
  </fd-card-header>
</fd-card>

