<app-navigation-bar [title]="'Issues for: ' + requestName" [userListVisible]="true" [productId]="productId" [productVisible]="true" >
<fd-toolbar class="toolbar" fdType="transparent" [clearBorder]="true">
  <fd-toolbar-spacer></fd-toolbar-spacer>
  <fd-input-group
    glyph="decline"
    glyphAriaLabel="Clear"
    placeholder="Search"
    [button]="true"
    [disabled]="false"
    [(ngModel)]="searchTerm"
    (ngModelChange)="handleSearchTermChange($event)"
    (addOnButtonClicked)="handleSearchTermChange('')"
  >
  </fd-input-group>
  <button
    fd-toolbar-item
    ariaLabel="Add issue"
    label="Add Issue"
    title="Add issue"
    fd-button
    glyph="add"
    (click)="addIssue(newIssueDialog)"
  ></button>
</fd-toolbar>
<div>
<span></span>
</div>
<ul fd-list [byline]="true" [unreadIndicator]="true">
  @for (issue of displayedIssues; track $index) {
  <li fd-list-item [unread]="true" aria-description="unread" class="{{issue.status}}" (click)="navigateToTaskList(issue.id)">
    <fd-avatar size="l" [transparent]="true" ariaLabel="avatar image" glyph='{{getTypeIcon(issue.issueType)}}' title="{{issue.issueType}}">{{issue.issueType}}</fd-avatar>
    <div fd-list-content class="{{issue.status}}">
      <div fd-list-title>
        <app-hover-details [details]="issue" detailsType="issue" [title]="issue.name" class="details">
          {{ issue.name }}
        </app-hover-details>
      </div>
      <div fd-list-footer class="{{issue.status}}">{{issue.productManager}}</div>
      <div fd-list-byline [twoCol]="true">
        @if(issue.closeDate){
        <div fd-list-byline-left>Opened: {{issue.openDate | date:'dd MMM yyyy HH:mm'}}  &nbsp; &nbsp; &nbsp; Closed:  {{issue.closeDate | date:'dd MMM yyyy HH:mm'}}</div>
        }
        @else{
          <div fd-list-byline-left>Opened: {{issue.openDate | date:'dd MMM yyyy HH:mm'}}</div>
        }
        <div fd-list-byline-right>{{issue.doneTasksCount}}/{{issue.tasksCount}}</div>
      </div>
    </div>
    @if(issue.status === 'OPEN'){
    <button fd-button fdType="transparent" glyph="accept" (click)="closeIssue(issue.id, resultFormDialog); $event.stopPropagation()" title="close"></button>
    <button fd-button fdType="transparent" glyph="sys-cancel-2" (click)="abandonIssue(issue.id, resultFormDialog); $event.stopPropagation()" title="abandon"></button>
    }
  </li>
  }
</ul>
<ng-template [fdDialogTemplate] let-dialog let-dialogConfig="dialogConfig" #newIssueDialog>
  <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
    <fd-dialog-header>
      <h1 fd-title>New Item</h1>
      <button fd-dialog-close-button (click)="dialog.dismiss('Close button')"></button>
    </fd-dialog-header>
    <fd-dialog-body>
      <form [formGroup]="myForm">
        <div fd-form-set>
          <div fd-form-item>
            <label fd-form-label for="input-1">Name</label>
            <input
              fd-form-control
              formControlName="nameInput"
              type="text"
              id="input-1"
              autocomplete="off"
            />
          </div>
          <div class="fd-row fd-form-item">
            <div class="fd-col">
              <label class="fd-form-label " for="text-2434-name">Description:</label>
            </div>
            <div class="fd-col">
                <textarea class="fd-textarea desc" id="text-2434-name"
                          formControlName="descriptionInput">textarea</textarea>
            </div>
          </div>
          <div fd-form-item>
          <label fd-form-label for="input-3">Issue type</label>
          <fd-combobox
            formControlName="issueTypeInput"
            type="text"
            id="input-3"
            [dropdownValues]="issueTypes"
            placeholder="Select Issue Type"
          />
        </div>
          <div fd-form-item>
            <label fd-form-label for="input-4">Product Manager</label>
            <fd-combobox
              formControlName="productManagerInput"
              type="text"
              id="input-4"
              [dropdownValues]="managers"
              placeholder="Select Product Manager"
            />
          </div>
        </div>
      </form>
    </fd-dialog-body>
    <fd-dialog-footer>
      <fd-button-bar fdType="emphasized" label="Save" type="submit" (click)="dialog.close('Save')">
      </fd-button-bar>
      <fd-button-bar label="Cancel" (click)="dialog.dismiss('Cancel')"></fd-button-bar>
    </fd-dialog-footer>
  </fd-dialog>
</ng-template>
  <ng-template [fdDialogTemplate] let-dialog let-dialogConfig="dialogConfig" #resultFormDialog>
    <form [formGroup]="resultForm">
      <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
        <fd-dialog-header>
          <h1 fd-title>Close Request</h1>
          <button fd-dialog-close-button (click)="dialog.dismiss('Close button')"></button>
        </fd-dialog-header>
        <fd-dialog-body>
          <div fd-form-set>
            <div fd-form-item>
              <label fd-form-label for="input-1">Result</label>
              <input
                fd-form-control
                formControlName="resultInput"
                type="text"
                id="input-1"
                autocomplete="off"
              />
            </div>
          </div>
        </fd-dialog-body>
        <fd-dialog-footer>
          <fd-button-bar fdType="emphasized" label="Save" type="submit" (click)="dialog.close('apply')">
          </fd-button-bar>
          <fd-button-bar label="Cancel" (click)="dialog.dismiss('Cancel')"></fd-button-bar>
        </fd-dialog-footer>
      </fd-dialog>
    </form>
  </ng-template>
</app-navigation-bar>
