<div class="center-form-container">
  <div class="center-form">
    <fd-dialog-body>
      <form [formGroup]="myForm">
        <div fd-form-set>
          <div fd-form-item>
            <label fd-form-label for="input-1">Username</label>
            <input
              fd-form-control
              formControlName="usernameInput"
              type="text"
              id="input-1"
              autocomplete="off"
              required
            />
          </div>
          <div fd-form-item>
            <label fd-form-label for="input-2">Password</label>
            <input
              fd-form-control
              formControlName="passwordInput"
              type="password"
              id="input-2"
              autocomplete="off"
              required
            />
          </div>
        </div>
      </form>
      <button
        fd-toolbar-item
        fd-button
        label="Login"
        (click)="onLogin()"
        fdType="emphasized"
        class="full-width-button"
      >Login</button>
    </fd-dialog-body>
    <fd-dialog-footer>
      <button
        fd-toolbar-item
        fd-button
        label="Register"
        fdType="transparent"
        class="full-width-button"
      >Register</button>
    </fd-dialog-footer>
  </div>
</div>
