.center-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.center-form {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.full-width-button {
  width: 100%;
  margin-top: 10px;
}

.register-text {
  text-align: center;
  margin: 10px 0;
}
