<app-navigation-bar [title]="'Tasks for issue: ' + issueName" [userListVisible]="true" [productVisible]="true" [productId]="productId" [requestId]="requestId" >
<fd-flexible-column-layout [(layout)]="localLayout">
  <ng-template #startColumn>
    <div>
      <fd-toolbar aria-label="With Toolbar" fdType="transparent" [clearBorder]="true">
        <fd-toolbar-spacer ></fd-toolbar-spacer>
        <button
          fd-toolbar-item
          fd-button
          label="New Task"
          (click)="openDialog(newItemDialog)"
          fdType="transparent"
          glyph="add"
        ></button>
    </fd-toolbar>
    <fd-busy-indicator [loading]="isLoading" [block]="true" size="l">
      <div class="table-container" cdkDropListGroup>
        <div class="column">
          <h2>To Do</h2>
          <ul fd-list cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="drop($event)">
            @for (task of todoList; track $index) {
              <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart()" [cdkDragData]="task"
                        (cdkDragEnded)="onDragEnd($event)" (click)="changeLayout('TwoColumnsStartExpanded', task)"></app-task>
            }
          </ul>
        </div>
        <div class="column">
          <h2>In Progress</h2>
          <ul fd-list cdkDropList [cdkDropListData]="progressList" (cdkDropListDropped)="drop($event)">
            @for (task of progressList; track $index) {
              <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart()" [cdkDragData]="task"
                        (cdkDragEnded)="onDragEnd($event)" (click)="changeLayout('TwoColumnsStartExpanded', task)"></app-task>
            }
          </ul>
        </div>
        <div class="column">
          <h2>Abandoned</h2>
          <ul fd-list cdkDropList [cdkDropListData]="abandonedList" (cdkDropListDropped)="drop($event)">
            @for (task of abandonedList; track $index) {
              <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart()" [cdkDragData]="task"
                        (cdkDragEnded)="onDragEnd($event)" (click)="changeLayout('TwoColumnsStartExpanded', task)"></app-task>
            }
          </ul>
        </div>
        <div class="column">
          <h2>Done</h2>
          <ul fd-list cdkDropList [cdkDropListData]="doneList" (cdkDropListDropped)="drop($event)">
            @for (task of doneList; track $index) {
              <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart()" [cdkDragData]="task"
                        (cdkDragEnded)="onDragEnd($event)" (click)="changeLayout('TwoColumnsStartExpanded', task)"></app-task>
            }
          </ul>
        </div>
      </div>
    </fd-busy-indicator>
    </div>
  </ng-template>
  <ng-template #midColumn>
    <app-task-details
      [TaskData]="selectedTask"
      (closeTaskDetails)="onLayoutChange()"></app-task-details>
  </ng-template>
  <ng-template [fdDialogTemplate] let-dialog let-dialogConfig="dialogConfig" #newItemDialog>
    <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
      <fd-dialog-header>
        <h1 fd-title>New Item</h1>
        <button fd-dialog-close-button (click)="dialog.dismiss('Close button')"></button>
      </fd-dialog-header>
      <fd-dialog-body>
        <form [formGroup]="myForm">
          <div fd-form-set class="full-width">
            <div fd-form-item>
              <label fd-form-label for="input-1">Name</label>
              <input
                fd-form-control
                formControlName="nameInput"
                type="text"
                id="input-1"
                autocomplete="off"
              />
            </div>
            <div fd-form-item class="full-width">
              <label fd-form-label for="description">Description:</label>
              <textarea class="fd-textarea resizable-textarea" id="description"
                        formControlName="descriptionInput"></textarea>
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">Priority</label>
              <input
                fd-form-control
                formControlName="priorityInput"
                type="number"
                id="input-4"
                autocomplete="off"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">Type</label>
              <fd-combobox
                formControlName="typeInput"
                type="text"
                id="input-3"
                [dropdownValues]="taskTypes"
                placeholder="Select Type"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-5">Assignee</label>
              <fd-combobox
                formControlName="assigneeInput"
                type="text"
                id="input-5"
                [dropdownValues]="workers"
                placeholder="Select Assignee"
              />
            </div>
          </div>
        </form>
      </fd-dialog-body>
      <fd-dialog-footer>
        <fd-button-bar fdType="emphasized" label="Save" type="submit" (click)="dialog.close('Save')">
        </fd-button-bar>
        <fd-button-bar label="Cancel" (click)="dialog.dismiss('Cancel')"></fd-button-bar>
      </fd-dialog-footer>
    </fd-dialog>
  </ng-template>
</fd-flexible-column-layout>
</app-navigation-bar>
