<fd-toolbar aria-label="With Toolbar" fdType="transparent" [clearBorder]="true">
  <h4 fd-title>NAZWA ISSUE</h4>

</fd-toolbar>
<fd-busy-indicator  [block]="true" size="l">
  <div class="table-container" cdkDropListGroup>
    <div class="column">
      <h2>To Do</h2>
      <ul fd-list cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="drop($event)">
        @for(task of todoList; track task){
          <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"></app-task>
          }
      </ul>
    </div>

    <div class="column">
      <h2>In Progress</h2>
      <ul fd-list cdkDropList [cdkDropListData]="progressList" (cdkDropListDropped)="drop($event)">
       @for(task of progressList; track task){
          <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"></app-task>
       }
      </ul>
    </div>

    <div class="column">
      <h2>Testing</h2>
      <ul fd-list cdkDropList [cdkDropListData]="testingList" (cdkDropListDropped)="drop($event)">
        @for(task of testingList; track task){
          <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"></app-task>
        }
      </ul>
    </div>

    <div class="column">
      <h2>Done</h2>
      <ul fd-list cdkDropList [cdkDropListData]="doneList" (cdkDropListDropped)="drop($event)">
        @for(task of doneList; track task){
          <app-task [task]="task" cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"></app-task>
        }
      </ul>
    </div>
  </div>
</fd-busy-indicator>

